.mainbox{
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    gap:1rem;
}
.box{
    max-width: 200%;
    flex: 1;
    border: 2px solid blue;
    padding: 0.5px;
}