
.row{
    height: 50px;
   
    
}
.pinkdiv{
    background-color: pink;
    border: 1px solid black;
}
.greendiv{
    background-color: aquamarine;
    border: 1px solid black;

}
.bulediv{
    background-color:blue;
    border: 1px solid black;
}
.bluevioletdiv{
    background-color: blueviolet;
    border: 1px solid black;
    
}